torch==1.9.1+cu111
torchvision==0.10.1+cu111
setuptools==67.6.1
numpy==1.23.5
dtw
fastdtw
tensorboard==2.19.0
ifcfg
lmdb
webdataset==0.1.40
open3d==0.19.0
omegaconf
transformers==4.30.0
timm==1.0.15
pycocotools
supervision==0.25.1
scikit-image==0.24.0
nltk==3.9.2
ninja
einops
prettytable
ftfy
inflect
scikit-fmm